@import '@bootstrap/scss/functions';
@import '@bootstrap/scss/variables';
@import '@bootstrap/scss/mixins';

.extraActions {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 16px;
}

.bookEditFormWrapper {
  margin-top: 24px;
  align-items: stretch;
  gap: 12px;
}

.deleteConfirmText {
  flex: 1;
  font-size: 0.875rem;
  color: var(--ebd-light-base2);
}

.deleteButton {
  margin-left: auto;
}
