@import '@bootstrap/scss/functions';
@import '@bootstrap/scss/variables';
@import '@bootstrap/scss/mixins';

.bookEditFormWrapper {
  .coverWrapper, form {
    flex: 1 1 0;
  }

  .coverWrapper {
    display: flex;
    justify-content: center;
    
    img {
      max-height: 50vh;
      width: auto;
    }
  }

  form {
    input::placeholder {
      color: #847c6d;
    }

    #bookCoverButton {
      padding: 0;
      margin-left: 8px;
      
      label {
        padding: 6px 12px 6px 12px;
        cursor: pointer;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 4px;
      }

      #bookCoverInput {
        display: none;
      }
    }
  }

  .buttonWrapper {
    display: flex;
    gap: 16px;

    button {
      display: inline-flex;
      align-items: center;
      gap: 8px;

      svg {
        flex-shrink: 0;
      }
    }

    .deleteButton {
      margin-left: auto;
    }
  }
}

.toast {
  margin: 12px;
  
  .toast-header {
    justify-content: space-between;
  }
}