@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

#homeWrapper {
    max-width: none;
    --bs-gutter-x: 4.5rem;

    ul {
        list-style-type: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 16px 16px;

        li {
            height: fit-content;
        }
    }
}