@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.laptop {
  display: block;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#mainWrapper {
  padding: 0;
}

#navbar {
  height: 110px;
  border-bottom: 1px solid var(--mp-dark-lighter);
  overflow: hidden;
  margin-bottom: 24px;
  background-color: var(--mp-dark-base);
  z-index: 10;

  > * {
    width: fit-content;
  }
  
  a {
    img {
      height: 110px;
      margin-left: 8px;
    }
  }

  .titleWrapper {
    display: flex;
    align-items: center;

    h1 {
      margin: 0;
    }
  }

  #laptopMenuWrapper {
    margin-left: auto;
  
    .metaWrapper {
      display: flex;
      flex-direction: column;
      text-align: end;
      margin-top: 12px;

      a {
        color: var(--bs-body-color);
        font-size: 12px;
      }
    }
  }
}

#appWrapper {
  margin-left: 220px;
  padding: 0 16px;

  @include media-breakpoint-down(lg) {
    margin-left: 160px;
  }

  h1 {
    padding-top: 16px;
    text-align: center;
  }
}
