@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.laptop {
  display: block;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#mainWrapper {
  padding: 0;
}

#navbar {
  height: 110px;
  border-bottom: 1px solid var(--mp-dark-lighter);
  overflow: hidden;
  background-color: var(--mp-dark-base);
  z-index: 10;

  > * {
    width: fit-content;
  }
  
  a.mainTitleWrapper {
    display: flex;
    color: inherit;
    gap: 16px;
    
    img {
      height: 110px;
    }
  }

  .titleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    h1 {
      margin: 0;
    }

    span {
      font-size: 0.9em;
    }
  }

  #laptopMenuWrapper {
    margin-left: auto;
  
    .metaWrapper {
      display: flex;
      flex-direction: column;
      text-align: end;
      margin-top: 12px;
      align-items: flex-end;
      gap: 4px;

      > div {
        --bs-gutter-x: 0;
      }

      img {
        width: 50px;
        height: auto;
        border-radius: 4px;
        padding: 0;
      }

      a {
        color: var(--bs-body-color);
        font-size: 12px;
      }
    }
  }
}

#appWrapper {
  padding: 0 16px;

  h1 {
    padding-top: 16px;
    text-align: center;
  }
}
