@import '@bootstrap/scss/functions';
@import '@bootstrap/scss/variables';
@import '@bootstrap/scss/mixins';

.bookManualForm {
  padding: 16px;
  display: flex;
  gap: 24px;
  align-items: flex-start;
  flex-wrap: wrap;
}